/* Variables*/

// Colors
$white: #ffffff;
$offWhite: #eaeded;
$dark: #131921;
$black: #0a0a0a;
$orange: #e98804;
$primary: #1888ff;
$lightPrimary: #5cabff;

// Font Sizes
$font-sm: 1.2rem;
$font-default: 1.6rem;
$font-med: 1.8rem;
$font-lg: 2rem;
